.modal {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	visibility: hidden;
	z-index: -100;
	background-color: var(--color-outer-space-light-02);
}

.modal.visible {
	visibility: visible;
	z-index: 100;
}

.modal__content {
	transform: scale(0);
	transition: transform 0s linear;
}

.modal.visible .modal__content {
	transform: scale(1);
	transition: transform 0.1s linear;
}
