.form-auth {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 30px;
    background-color: var(--color-outer-space-main);
}

.form-auth__btn-close {
    position: absolute;
    top: -8px;
    right: -8px;

    @media (min-width: 768px) {
        top: 4px;
        right: 4px;
    }
}

.form-auth__title {
    margin-bottom: 20px;

    @media (min-width: 768px) {
        font-size: 26px;
    }
}

.form-auth__inputs {
    margin-bottom: 20px;
}

.form-auth__input-bar {
    display: flex;
    flex-direction: column;
}

.form-auth__input-bar:not(:last-of-type) {
    margin-bottom: 20px;
}

.form-auth__input-bar .label {
    font-size: 20px;
    margin-bottom: 5px;

    @media (min-width: 768px) {
        font-size: 16px;
    }
}

.form-auth__input-bar .input {
    font-size: 20px;
    padding: 4px 8px;
    color: var(--color-text-main);
    background-color: var(--color-outer-space-light);

    @media (min-width: 768px) {
        width: 250px;
        font-size: 16px;
        padding: 10px;
    }
}


.form-auth__list-btn {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-auth__btn-auth {
    width: 100%;
}

.form-auth__btn-auth:not(:last-of-type) {
    margin-bottom: 20px;
}