.page-editor-post {
}

.page-editor-post__container {
	max-width: 900px;
	padding: 0 10px;
	margin: 0 auto;
	
	@media (max-width: 768px) {
		max-width: 100%;
	}
}

.page-editor-post__content {
}

.page-editor-post__nav {
	margin-bottom: 30px;
}
