.text-area {
    position: relative;
    width: 100%;
    font-size: 18px;
    color: var(--color-text-main);
    border: none;
    background-color: var(--color-outer-space-light);
    padding: 20px 10px;
    overflow: hidden;
    text-decoration: none;

    @media (min-width: 768px) {
        padding: 10px;
    }
}



.text-area_title {
    font-size: 26px;
}

.text-area_title::placeholder {
    font-size: 26px;
}

.text-area_text {
    font-size: 20px;
}

.text-area_text::placeholder {
    font-size: 20px;
}