.post-creator-text {
    position: relative;
}

.post-creator-text__input-body {
    position: relative;
}

.post-creator-text__input {
    width: 100%;
    padding: 25px 15px;
    font-size: 22px;
    color: var(--text-primary);
    background-color: var(--component-bg-secondary);
    margin-bottom: 1px;

    @media (max-width: 768px) {
        font-size: 18px;
    }
}

.post-creator-text__error {
    position: absolute;
    left: 15px;
    bottom: 5px;
    font-size: 14px;
    color: var(--title-primary-hover);
}

.post-creator-text__reset-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 6px;
    right: 5px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    padding: 3px;
    background-color: var(--btn-bg-primary);
    transition: fill 0.1s linear;

    & .btn-icon {
        width: 14px;
        height: 14px;
        color: var(--fill-primary);
    }

    &:focus {
        background-color: var(--btn-bg-primary-active);

        & .btn-icon {
            color: var(--fill-tertiary-active);
        }
    }
    &:active {
        background-color: var(--btn-bg-primary-active);

        & .btn-icon {
            color: var(--fill-tertiary-active);
        }
    }

    @media (hover: hover) {
        &:hover {
            background-color: var(--btn-bg-primary-hover);

            & .btn-icon {
                color: var(--fill-tertiary-hover);
            }
        }
    }
}

.post-creator-text__toggle-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 72px;
    right: 5px;
    padding: 3px;
    border-radius: 50px;
    background-color: var(--btn-bg-primary);
    align-self: flex-end;

    & .btn-icon {
        width: 14px;
        height: 14px;
        color: var(--fill-primary);
    }

    &:focus {
        background-color: var(--btn-bg-primary-active);

        & .btn-icon {
            color: var(--fill-tertiary-active);
        }
    }
    &:active {
        background-color: var(--btn-bg-primary-active);

        & .btn-icon {
            color: var(--fill-tertiary-active);
        }
    }

    @media (hover: hover) {
        &:hover {
            background-color: var(--btn-bg-primary-hover);

            & .btn-icon {
                color: var(--fill-tertiary-hover);
            }
        }
    }
}

.post-creator-text__tools {
}
