.scheme-sender {
    display: flex;
    align-items: center;
    max-width: 300px;
    padding: 0 10px 10px 0;
}

.scheme-sender__list-errors {

    margin-right: 20px;

}

.scheme-sender__list-errors-item {
    display: block;
}


.scheme-sender__btn {}