.btn_auth-bar {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	color: var(--color-text-main);
	background-color: transparent;

	@media (min-width: 768px) {
		font-size: 20px;
	}
}

.btn_auth-bar .btn__text {
	overflow: hidden;
	text-overflow: ellipsis;
	margin-right: 5px;
}

.btn_auth-bar .btn__icon {
	width: 15px;
	height: 8px;
	fill: var(--color-alabaster);
	transition: transform 0.1s linear;
}

.btn_auth-bar .btn__icon.active {
	transform: rotate(180deg);
	transition: transform 0.1s linear;
}
