.btn_filter-open {
	display: flex;
	align-items: center;
	border-radius: 0;
	background-color: transparent;
	padding: 6px 0;
}

.btn_filter-open:hover,
.btn_filter-open:active {
	background-color: transparent;
}

.btn_filter-open .btn__wrapper-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 5px;
	margin-right: 10px;
	background-color: var(--color-btn-bg-main);
}

.btn_filter-open.active .btn__wrapper-icon {
	background-color: var(--color-btn-bg-hover);
}

.btn_filter-open .btn__icon {
	width: 10px;
	height: 10px;

	@media (min-width: 1000px) {
		width: 15px;
		height: 15px;
	}
}

.btn_filter-open.active .btn__icon {
	transform: rotate(45deg);
}
