.post-creator-sender {
	display: flex;
	align-items: center;
}

.post-creator-sender__list-errors {
	margin-right: 20px;
}

.post-creator-sender__list-errors-item {
	display: block;
}

.post-creator-sender__btn {
}

.modal-div {
	width: 400px;
	height: 400px;
	background-color: red;
}
