.editor-new-post-form {
	background-color: var(--first-color-bg-components);
	padding: 0 0 60px 0;

	@media (max-width: 768px) {
		padding: 0 0 30px 0;
	}
}

.editor-new-post-form__title {
	width: 100%;
}

.editor-new-post-form__text {
	width: 100%;
}

.editor-new-post-form__image {
	width: 100%;
}

.editor-new-post-form__topics {}

.editor-new-post-form__btn-send {
	display: block;
	padding: 6px 12px;
	border-radius: 10px;
	background-color: var(--first-color-bg-btn);
	transition: background-color 0.1s linear;
	margin-right: 20px;
	margin-left: auto;
}

.editor-new-post-form__btn-send.inactive {
	background-color: var(--color-btn-bg-inactive);
}

.editor-new-post-form__btn-send.inactive:hover {
	background-color: var(--color-btn-bg-inactive);
}
.editor-new-post-form__btn-send.inactive:active {
	background-color: var(--color-btn-bg-inactive);
}

.editor-new-post-form__btn-send:active {
	background-color: var(--first-color-bg-btn-hover);
}

.editor-new-post-form__btn-send:hover {
	background-color: var(--first-color-bg-btn-hover);
}

.editor-new-post-form__btn-send .btn-text {
}
