.btn {
    cursor: pointer;
    font-size: 18px;
    color: var(--text-primary);
    border: none;
    background-color: transparent;

    &.inactive {
        cursor: not-allowed;
    }
}

.btn {
    background-color: var(--btn-bg-primary);
    transition: background-color 0.3s linear;

    & .btn-title {
        font-size: 28px;
        color: var(--text-primary);
        transition: color 0.3s linear;
    }

    & .btn-text {
        color: var(--text-primary);
        transition: color 0.3s linear;
    }

    & .btn-icon {
        transition: color 0.3s linear;
    }

    &:focus {
        background-color: var(--btn-bg-primary-active);

        & .btn-title {
            color: var(--title-primary-active);
        }

        & .btn-text {
            color: var(--text-tertiary-active);
        }

        & .btn-icon {
            color: var(--fill-tertiary-active);
        }
    }

    &:active {
        background-color: var(--btn-bg-primary-active);

        & .btn-title {
            color: var(--title-primary-active);
        }

        & .btn-text {
            background-color: transparent;
            color: var(--text-tertiary-active);
        }

        & .btn-icon {
            color: var(--fill-tertiary-active);
        }
    }

    @media (hover: hover) {
        &:hover {
            background-color: var(--btn-bg-primary-hover);

            & .btn-title {
                color: var(--title-primary-hover);
            }

            & .btn-text {
                color: var(--text-tertiary-hover);
            }

            & .btn-icon {
                color: var(--fill-tertiary-hover);
            }
        }
    }
}
