.editor-post {
}

.editor-post__form {
	background-color: var(--first-component-bg-color);
	padding: 0 0 30px 0;
}

.editor-post__title {
	width: 100%;
}

.editor-post__text {
	width: 100%;
}

.editor-post__text:last-of-type {
	margin-bottom: 15px;
}

.editor-post__image {
	width: 100%;
}

.editor-post__image:last-of-type {
	margin-bottom: 15px;
}

.editor-post__topics {
}

.editor-post__btn-send {
	display: block;
	padding: 6px 12px;
	border-radius: 10px;
	background-color: var(--first-btn-bg-color);
	margin-right: 20px;
	margin-left: auto;
	transition: background-color 0.1s linear;
}

.editor-post__btn-send.inactive {
	background-color: var(--first-btn-bg-color-inactive);
}

.editor-post__btn-send:hover {
	background-color: var(--first-btn-bg-color-hover);
}

.editor-post__alert {
}
