.input-search-values {
}
.input-search-values__item {
	width: 250px;
}
.input-search-values__item-not-found {
	padding: 8px 10px;
	background-color: var(--color-btn-bg-main);
}
.input-search-values__btn {
	width: 100%;
}
