.editor-new-post-image {
	position: relative;
	background-color: var(--second-component-bg-color);
	padding: 10px 5px;
}

.editor-new-post-image__wrapper-item {
	padding: 0 15px;
	margin-bottom: 1px;
	margin-bottom: 10px;
}

.editor-new-post-image__item {
	display: block;
	max-width: 100%;
	margin: 25px auto 0 auto;
}

.editor-new-post-iamge__btn-delete {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 6px;
	right: 5px;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	padding: 3px;
	background-color: var(--first-btn-bg-color);
	transition: fill 0.1s linear;

	@media (max-width: 768px) {
		width: 18px;
		height: 18px;
	}
}

.editor-new-post-iamge__btn-delete:hover {
	background-color: var(--first-btn-bg-color-hover);
}

.editor-new-post-iamge__btn-delete .btn-icon {
	width: 14px;
	height: 14px;
	fill: var(--third-fill-color);
	transition: fill 0.1s linear;

	@media (max-width: 768px) {
		width: 8px;
		height: 8px;
	}
}

.editor-new-post-iamge__btn-delete:hover .btn-icon {
	fill: var(--first-fill-color);
}

.editor-new-post-image__nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--second-component-bg-color);
	justify-content: center;
}

.editor-new-post-image__tools {
}

.editor-new-post-image__nav-btn-toggle {
	display: block;
	margin-left: auto;
	border-radius: 50px;
	background-color: var(--first-btn-bg-color);
}

.editor-new-post-image__nav-btn-toggle:active {
	background-color: var(--first-btn-bg-color-hover);
}

.editor-new-post-image__nav-btn-toggle:hover {
	background-color: var(--first-btn-bg-color-hover);
}

.editor-new-post-image__nav-btn-toggle .btn-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	padding: 3px;
	fill: var(--second-text-color);
	transition: fill 0.1s linear;

	@media (max-width: 768px) {
		width: 18px;
		height: 18px;
	}
}

.editor-new-post-image__nav-btn-toggle:active .btn-icon {
	fill: var(--first-text-color);
}

.editor-new-post-image__nav-btn-toggle:hover .btn-icon {
	fill: var(--first-text-color);
}
