.filter-list-dates {
	display: flex;
	align-items: center;
    flex-wrap: wrap;
}

.filter-list-dates__item {
    margin-top: 10px;
}

.filter-list-dates__item:not(:last-child) {
	margin-right: 15px;
}

.filter-list-dates__btn-add {
}
