.editor-new-post-text {
	position: relative;
}

.editor-new-post-text__input-body {
	position: relative;
}

.editor-new-post-text__input {
	width: 100%;
	padding: 25px 15px;
	font-size: 18px;
	color: var(--first-color-text);
	background-color: var(--second-color-bg-components);
	margin-bottom: 1px;

	@media (min-width: 768px) {
		font-size: 22px;
	}
}

.editor-new-post-text__error-valid {
	position: absolute;
	left: 15px;
	bottom: 5px;
	font-size: 14px;
	color: var(--third-color-text);
}

.editor-new-post-text__btn-reset {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 6px;
	right: 5px;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	padding: 3px;
	background-color: var(--third-color-text-btn);

	@media (min-width: 768px) {
		width: 24px;
		height: 24px;
	}
}

.editor-new-post-text__btn-reset .btn-icon {
	width: 8px;
	height: 8px;

	@media (min-width: 768px) {
		width: 14px;
		height: 14px;
	}
}

.editor-new-post-text__nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--second-color-bg-components);
	// padding: 10px 1% 10px 1%;
	justify-content: center;
}

.editor-new-post-text__tools {
}

.editor-new-post-text__nav-btn-toggle {
	position: absolute;
	top: 72px;
	right: 5px;
	border-radius: 50px;
	background-color: var(--first-color-bg-btn);
	align-self: flex-end;
}

.editor-new-post-text__nav-btn-toggle:active {
	background-color: var(--first-color-bg-btn-hover);
}

.editor-new-post-text__nav-btn-toggle:hover {
	background-color: var(--first-color-bg-btn-hover);
}

.editor-new-post-text__nav-btn-toggle .btn-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	padding: 3px;
	fill: var(--second-color-text-btn);
	transition: fill 0.1s linear;

	@media (min-width: 768px) {
		width: 24px;
		height: 24px;
	}
}

.editor-new-post-text__nav-btn-toggle:active .btn-icon {
	fill: var(--first-color-text-btn);
}

.editor-new-post-text__nav-btn-toggle:hover .btn-icon {
	fill: var(--first-color-text-btn);
}
