.editor-new-post-text {
	position: relative;
}

.editor-new-post-text__input-body {
	position: relative;
}

.editor-new-post-text__input {
	width: 100%;
	padding: 25px 15px;
	font-size: 22px;
	color: var(--first-text-color);
	background-color: var(--second-component-bg-color);
	margin-bottom: 1px;

	@media (max-width: 768px) {
		font-size: 18px;
	}
}

.editor-new-post-text__error-valid {
	position: absolute;
	left: 15px;
	bottom: 5px;
	font-size: 14px;
	color: var(--fourth-title-color);
}

.editor-new-post-text__btn-reset {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 6px;
	right: 5px;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	padding: 3px;
	background-color: var(--first-btn-bg-color);
	transition: fill 0.1s linear;

	@media (max-width: 768px) {
		width: 18px;
		height: 18px;
	}
}

.editor-new-post-text__btn-reset:hover {
	background-color: var(--first-btn-bg-color-hover);
}

.editor-new-post-text__btn-reset .btn-icon {
	width: 14px;
	height: 14px;
	fill: var(--third-fill-color);
	transition: fill 0.1s linear;

	@media (max-width: 768px) {
		width: 8px;
		height: 8px;
	}
}

.editor-new-post-text__btn-reset:hover .btn-icon {
	fill: var(--first-fill-color);
}

.editor-new-post-text__nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--second-component-bg-color);
	justify-content: center;
}

.editor-new-post-text__tools {
}

.editor-new-post-text__nav-btn-toggle {
	position: absolute;
	top: 72px;
	right: 5px;
	border-radius: 50px;
	background-color: var(--first-btn-bg-color);
	align-self: flex-end;
	transition: fill 0.1s linear;
}

.editor-new-post-text__nav-btn-toggle:hover {
	background-color: var(--first-btn-bg-color-hover);
}

.editor-new-post-text__nav-btn-toggle .btn-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	padding: 3px;
	fill: var(--third-fill-color);
	transition: fill 0.1s linear;

	@media (max-width: 768px) {
		width: 18px;
		height: 18px;
	}
}

.editor-new-post-text__nav-btn-toggle:hover .btn-icon {
	fill: var(--first-fill-color);
}
