.btn_reset {
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 22px;

}

.btn_default {
    color: var(--color-text-main);
    padding: 6px 12px;
    border-radius: 10px;
    background-color: var(--color-btn-bg-main);
    transition: background-color .1s linear;

    @media (min-width: 768px) {
        font-size: 22px;
    }
}

.btn_default:active {
    background-color: var(--color-btn-bg-active);
}

.btn_default:hover {
    @media (min-width: 1000px) {
        background-color: var(--color-btn-bg-hover);
    }
}

.btn_default.inactive {
    pointer-events: none;
    background-color: var(--color-btn-bg-inactive);
}

.btn_default.inactive:active {
    background-color: var(--color-btn-bg-inactive);
}

.btn_default.inactive:hover {
    background-color: var(--color-btn-bg-inactive);
}


.btn_auth-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: var(--color-text-main);
    background-color: transparent;

    @media (min-width: 768px) {
        font-size: 20px;
    }
}

.btn_auth-bar .btn__text {}

.btn_auth-bar .btn__icon {
    width: 15px;
    height: 8px;
    fill: var(--color-alabaster);
    transition: transform .3s linear;
}

.btn_auth-bar .btn__icon.active {
    transform: rotate(180deg);
    transition: transform .3s linear;
}

.btn_auth-list-item {
    font-size: 16px;
    color: var(--color-text-second);
    padding: 12px 24px;
    background-color: var(--color-btn-bg-main);
    transition: background-color .3s linear, color .3s linear;
}

.btn_auth-list-item:hover {
    color: var(--color-text-main);
    background-color: var(--color-btn-bg-hover);
}

.btn_auth-list-item .btn__text {}

.btn_close-auth {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    padding: 5px;
    background-color: var(--color-btn-bg-shark);
    transition: background-color .3s linear;
    overflow: hidden;
}

.btn_close-auth:hover {
    background-color: var(--color-btn-bg-hover);
}

.btn_close-auth .btn__icon {
    width: 15px;
    height: 15px;
    fill: var(--color-orange);
    transition: fill .3s linear;

}

.btn_close-auth:hover .btn__icon {
    fill: var(--color-shark);
}

.btn_scheme-options {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 10px;
    background-color: var(--color-btn-bg-main);
    transition: background-color .1s linear;
}

.btn_scheme-options:active {
    background-color: var(--color-btn-bg-active);
    transition: background-color .1s linear;
}

.btn_scheme-options:hover {
    @media (min-width: 1000px) {
        background-color: var(--color-btn-bg-hover);
        transition: background-color .1s linear;
    }

}

.btn_scheme-options .btn__icon {
    width: 40px;
    height: 40px;
    transition: fill .1s linear;
}

.btn_scheme-options:active .btn__icon {
    fill: var(--color-alabaster);
    transition: fill .1s linear;
}

.btn_scheme-options:hover .btn__icon {
    @media (min-width: 1000px) {
        fill: var(--color-alabaster);
        transition: fill .1s linear;
    }
}

.btn_scheme-options-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 50px;
    background-color: var(--color-btn-bg-main);
    transition: background-color .1s linear;
}

.btn_scheme-options-toggle:hover {
    background-color: var(--color-btn-bg-hover);
    transition: background-color .1s linear;
}

.btn_scheme-options-toggle .btn__icon {
    width: 20px;
    height: 20px;
    transition: fill .1s linear;

    @media (min-width: 768px) {
        width: 10px;
        height: 10px;
    }
}

.btn_scheme-options-toggle:hover .btn__icon {
    fill: var(--color-alabaster);
    transition: fill .1s linear;
}

.btn_scheme-reset-text {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 50px;
    background-color: var(--color-btn-bg-main);
    transition: background-color .1s linear;
}

.btn_scheme-reset-text:active {
    background-color: var(--color-btn-bg-hover);
    transition: background-color .1s linear;
}

.btn_scheme-reset-text:hover {
    @media (min-width: 1000px) {
        background-color: var(--color-btn-bg-hover);
        transition: background-color .1s linear;
    }
}

.btn_scheme-reset-text .btn__icon {
    width: 20px;
    height: 20px;
    transition: fill .1s linear;

    @media (min-width: 768px) {
        width: 10px;
        height: 10px;
    }
}

.btn_scheme-reset-text:active .btn__icon {
    fill: var(--color-alabaster);
    transition: fill .1s linear;

}

.btn_scheme-reset-text:hover .btn__icon {
    @media (min-width: 1000px) {
        fill: var(--color-alabaster);
        transition: fill .1s linear;
    }
}

.btn_marker-post .btn__icon {
    width: 40px;
    height: 40px;
    fill: var(--color-btn-bg-inactive);
    transition: fill .1s linear;
}

.btn_marker-post:active .btn__icon {
    fill: var(--color-btn-bg-active);
}

.btn_marker-post:hover .btn__icon {
    @media (min-width: 1000px) {
        fill: var(--color-btn-bg-hover);
    }
}

.btn_marker-post.active .btn__icon {
    fill: var(--color-btn-bg-active);
}

.btn_rating-up-post .btn__icon {
    height: 40px;
    width: 40px;
    transform: rotate(180deg);
    transition: fill .1s linear;
    fill: var(--color-btn-bg-inactive);
}

.btn_rating-up-post:active .btn__icon {
    fill: var(--color-btn-bg-active);
}

.btn_rating-up-post:hover .btn__icon {
    @media (min-width: 1000px) {
        fill: var(--color-btn-bg-hover);
    }
}

.btn_rating-up-post.active .btn__icon {
    fill: var(--color-btn-bg-active);
}

.btn_rating-down-post .btn__icon {
    height: 40px;
    width: 40px;
    transition: fill .1s linear;
    fill: var(--color-btn-bg-inactive);
}

.btn_rating-down-post:active .btn__icon {
    fill: var(--color-btn-bg-active);
}

.btn_rating-down-post:hover .btn__icon {
    @media (min-width: 1000px) {
        fill: var(--color-btn-bg-hover);
    }
}

.btn_rating-down-post.active .btn__icon {
    fill: var(--color-btn-bg-active);
}

.btn_set-visible-content {}

.btn_set-visible-content .btn__text {}

.btn_set-visible-content:active .btn__text {
    color: var(--color-btn-bg-active);
}

.btn_set-visible-content:hover .btn__text {
    @media (min-width: 1000px) {
        color: var(--color-btn-bg-hover);
    }
}

.btn_set-visible-content {
    cursor: default;
}

.btn_set-visible-content .btn__text {
    cursor: pointer;
    color: var(--color-btn-bg-main);
    transition: color .1s linear;
}

.btn_set-visible-content .btn__text:active {
    color: var(--color-btn-bg-active);
}

.btn_set-visible-content .btn__text:hover {
    @media (min-width: 1000px) {
        color: var(--color-btn-bg-hover);
    }
}