.editor-new-post-title {
	position: relative;
}

.editor-new-post-title__input {
	width: 100%;
	font-size: 24px;
	padding: 25px 15px;
	color: var(--first-title-color);
	background-color: var(--second-component-bg-color);
	margin-bottom: 1px;

	@media (max-width: 768px) {
		font-size: 20px;
	}
}

.editor-new-post-title__error-valid {
	position: absolute;
	left: 15px;
	bottom: 5px;
	font-size: 14px;
	color: var(--fourth-text-color);
}

.editor-new-post-title__btn-reset {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 6%;
	right: 5px;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	padding: 3px;
	background-color: var(--first-btn-bg-color);
	transition: fill 0.1s linear;

	@media (max-width: 768px) {
		width: 18px;
		height: 18px;
	}
}

.editor-new-post-title__btn-reset:hover {
	background-color: var(--first-btn-bg-color-hover);
}

.editor-new-post-title__btn-reset .btn-icon {
	width: 14px;
	height: 14px;
	transition: fill 0.1s linear;
	fill: var(--third-fill-color);

	@media (max-width: 768px) {
		width: 8px;
		height: 8px;
	}
}

.editor-new-post-title__btn-reset:hover .btn-icon {
	fill: var(--first-fill-color);
}
