.editor-post-form {
	background-color: var(--first-component-bg-color);
	padding: 0 0 30px 0;
}

.editor-post-form__title {
	width: 100%;
}

.editor-post-form__text {
	width: 100%;
}

.editor-post-form__text:last-of-type {
	margin-bottom: 15px;
}

.editor-post-form__image {
	width: 100%;
}

.editor-post-form__topics {
}

.editor-post-form__btn-send {
	display: block;
	padding: 6px 12px;
	border-radius: 10px;
	background-color: var(--first-btn-bg-color);
	transition: background-color 0.1s linear;
	margin-right: 20px;
	margin-left: auto;
}

.editor-post-form__btn-send.inactive {
	background-color: var(--first-btn-bg-color-inactive);
}

.editor-post-form__btn-send:hover {
	background-color: var(--first-btn-bg-color-hover);
}

.editor-post-form__btn-send .btn-text {
}
