.filter-posts {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.filter-posts__btn-set {
}

.filter-posts__list {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	margin-top: 20px;
}


.filter-posts__item-list:not(:last-child) {
	margin-right: 10px;

	@media (min-width: 1000px) {
		margin-right: 15px;
	}
}

.filter-posts__btn-plus {
}

.filter-posts__btn-search {
	margin-left: auto;
}

.btn_filter-posts-set {
	display: flex;
	align-items: center;
	border-radius: 0;
}

.btn_filter-posts-set .btn__text {
	margin-right: 10px;
}

.btn_filter-posts-set .btn__icon {
	width: 10px;
	height: 10px;
	transform: rotate(45deg);

	@media (min-width: 1000px) {
		width: 15px;
		height: 15px;
	}
}

.btn_filter-posts-set.active .btn__icon {
	transform: rotate(0);
}
