.auth-bar-unknown {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.auth-bar-unknown__btn {
    height: 100%;
    padding: 4px 12px;
    border-radius: 10px;
    background-color: var(--btn-bg-primary);
    transition: background-color 0.1s linear;
}

.auth-bar-unknown__btn:active {
    background-color: var(--btn-bg-primary-hover);
}

.auth-bar-unknown__btn:hover {
    background-color: var(--btn-bg-primary-hover);
}

.auth-bar-unknown__btn-text {
}
