.auth-bar-unknown {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.auth-bar-unknown__btn {
	padding: 6px 12px;
	border-radius: 10px;
	background-color: var(--first-color-bg-btn);
	transition: background-color 0.1s linear;
}

.auth-bar-unknown__btn:active {
	background-color: var(--first-color-bg-btn-hover);
}

.auth-bar-unknown__btn:hover {
	@media (min-width: 1000px) {
		background-color: var(--first-color-bg-btn-hover);
	}
}

.auth-bar-unknown__btn-text {
}
