.post-creator-topics {
    display: flex;
    align-items: flex-start;
    padding: 15px 15px 30px 15px;

    @media (max-width: 670px) {
        flex-direction: column;
    }

    @media (max-width: 475px) {
        padding: 10px;
    }
}

.post-creator-topics__input-body {
    flex: 0 0 35%;
    position: relative;
    margin-right: 40px;

    @media (max-width: 670px) {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

.post-creator-topics__input {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    color: var(--text-primary);
    background-color: var(--component-bg-secondary);

    @media (max-width: 768px) {
        font-size: 16px;
    }

    @media (max-width: 670px) {
        width: 320px;
    }
}

.post-creator-topics__variant-list {
    position: absolute;
    width: 100%;
    top: 100%;
    background-color: var(--component-bg-secondary);
}

.post-creator-topics__variant-btn {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    background-color: var(--btn-bg-primary);
    border-bottom: 1px solid var(--border-tertiary);

    & .btn-text {
        color: var(--text-tertiary);
    }

    & .btn-icon {
        width: 14px;
        height: 14px;
        color: var(--fill-tertiary);
    }

    &:focus {
        background-color: var(--btn-bg-primary-hover);

        & .btn-text {
            color: var(--text-secondary-hover);
        }

        & .btn-icon {
            color: var(--fill-secondary-hover);
        }
    }

    &:active {
        background-color: var(--btn-bg-primary-hover);
        border-bottom: 1px solid var(--border-secondary-hover);

        & .btn-text {
            color: var(--text-secondary-hover);
        }

        & .btn-icon {
            color: var(--fill-secondary-hover);
        }
    }

    @media (hover: hover) {
        &:hover {
            background-color: var(--btn-bg-primary-hover);
            border-bottom: 1px solid var(--border-secondary-hover);

            & .btn-text {
                color: var(--text-secondary-hover);
            }

            & .btn-icon {
                color: var(--fill-secondary-hover);
            }
        }
    }
}

.post-creator-topics__nav-lists {
    flex: 1 1 auto;
}

.post-creator-topics__nav-lists-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
    gap: 10px;
}

.post-creator-topics__nav-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: var(--btn-bg-primary);
    border: 1px solid transparent;

    & .btn-text {
        text-align: left;
        color: var(--text-primary);
        margin-right: 10px;
    }

    & .btn-icon {
        width: 10px;
        height: 10px;
        color: var(--text-primary);
    }

    &:focus {
        background-color: var(--btn-bg-primary-active);

        & .btn-text {
            color: var(--fill-tertiary-active);
        }

        & .btn-icon {
            color: var(--fill-tertiary-active);
        }
    }
    &:active {
        background-color: var(--btn-bg-primary-active);

        & .btn-text {
            color: var(--fill-tertiary-active);
        }

        & .btn-icon {
            color: var(--fill-tertiary-active);
        }
    }

    @media (hover: hover) {
        &:hover {
            background-color: var(--btn-bg-primary-hover);

            & .btn-text {
                color: var(--fill-tertiary-hover);
            }

            & .btn-icon {
                color: var(--fill-tertiary-hover);
            }
        }
    }
}

.post-creator-topics__nav-list {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 5px 10px;
    border-top: 1px solid var(--border-secondary);
    padding-top: 10px;
}

.post-creator-topics__nav-list:not(:last-child) { 
    margin-bottom: 20px;
}

.post-creator-topics__nav-list-title {
    width: 100%;
    color: var(--text-primary);
    margin-bottom: 10px;
}
