.editor-post-tools {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.editor-post-tools__list-tools {
	display: flex;
	align-items: center;
}

.editor-post-tools__btn-tools,
.input-file-custom__label {
	width: 40px;
	height: 40px;
	padding: 5px;
	background-color: var(--first-btn-bg-color);
	border-radius: 10px;
	transition: background-color 0.3s linear, color 0.3s linear;
	margin-top: 8px;
	margin-bottom: 8px;
}

.editor-post-tools__btn-tools:hover {
	background-color: var(--first-btn-bg-color-hover);
}

.editor-post-tools__btn-tools:not(:last-of-type) {
	margin-right: 30px;
}

.editor-post-tools__btn-tools .btn-icon,
.input-file-custom__label .btn-icon {
	width: 100%;
	height: 100%;
	fill: var(--third-fill-color);
	transition: fill 0.1s linear;
}

.editor-post-tools__btn-tools:hover .btn-icon,
.input-file-custom__label .btn-icon {
	fill: var(--first-text-color);
}

.editor-post-tools__btn-tools-input {
	display: none;
}
