.auth-bar-known {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	z-index: 150;
	cursor: pointer;
}

.auth-bar-known__user-item {
	display: flex;
	align-items: center;
	height: 100%;
}

.auth-bar-known__user-img {
	width: 30px;
	height: 30px;
	margin-right: 10px;
	border-radius: 50px;
	overflow: hidden;
}

.auth-bar-known__user-name {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-right: 4px;
	color: var(--first-text-color);
}

.auth-bar-known__user-icon {
	width: 8px;
	height: 8px;
	fill: var(--first-fill-color);
	transition: transform 0.1s linear;
}

.auth-bar-known__user-icon.active {
	transform: rotate(180deg);
}

.auth-bar-known__list {
}
