.scheme-options {
    display: flex;
    align-items: center;

}

.scheme-options__item {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.scheme-options__item:not(:last-child) {
    margin-right: 25px;
}

.scheme-options__btn {
    margin-bottom: 5px;
}