
.post-bar {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.post-bar-mark-icon {
    width: 40px;
    height: 40px;
    fill: var(--color-periwinkle-gray);
}

.post-bar-mark-icon.active {
    fill: var(--color-orange);
}

.post-bar-mark-icon:hover {
    transition: fill .4s linear;
    fill: var(--color-orange-hover);
}

.post-bar__rating-value {
    font-size: 30px;
}

.post__mark {}