.post-creator {
}

.post-creator__form {
    background-color: var(--component-bg-primary);
    padding: 0 0 30px 0;
}

.post-creator__title {
    width: 100%;
}

.post-creator__text {
    width: 100%;
}

.post-creator__text:last-of-type {
    margin-bottom: 15px;
}

.post-creator__image {
    width: 100%;
}

.post-creator__image:last-of-type {
    margin-bottom: 15px;
}

.post-creator__topics {
}

.post-creator__send-btn {
    display: block;
    padding: 6px 12px;
    border-radius: 10px;
    background-color: var(--btn-bg-primary);
    margin-right: 20px;
    margin-left: auto;

    &.inactive {
        background-color: var(--btn-bg-primary-inactive);
    }

    &:focus {
        background-color: var(--btn-bg-primary-active);

        &.inactive {
            background-color: var(--btn-bg-primary-inactive);
        }
    }

    &:active {
        background-color: var(--btn-bg-primary-active);

        &.inactive {
            background-color: var(--btn-bg-primary-inactive);
        }
    }

    @media (hover: hover) {
        &:hover {
            background-color: var(--btn-bg-primary-hover);

            &.inactive {
                background-color: var(--btn-bg-primary-inactive);

                & .btn-text {
                    color: var(--text-primary);
                }
            }
        }
    }
}

.post-creator__alert {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 30;
    background-color: var(--modal-overlay-primary);
}

.post-creator__alert-item {
}
