.filter-author-values {
}
.filter-author-values__item {
	width: 250px;
}
.filter-author-values__item-not-found {
	padding: 8px 10px;
	background-color: var(--color-btn-bg-main);
}
.filter-author-values__btn-add {
	width: 100%;
}

.filter-values__item-error {
}

.filter-values__item:not(:last-child) {
	margin-right: 10px;
}

.filter-values__btn-delete {
}
.btn_filter-delete {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.btn_filter-delete .btn__text {
	margin-right: 10px;
}

.btn_filter-delete .btn__icon {
	width: 10px;
	height: 10px;
}
