.post-creator-image {
    position: relative;
    background-color: var(--component-bg-secondary);
    padding: 10px 5px;
}

.post-creator-image__wrapper-item {
    padding: 15px 10px 15px 10px;
    margin-bottom: 1px;
    margin-bottom: 10px;
}

.post-creator-image__item {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.post-creator-image__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--component-bg-secondary);
    justify-content: center;
}

.post-creator-image__tools {
}

.post-creator-image__toggle-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    width: 24px;
    height: 24px;
    border-radius: 50px;
    padding: 3px;
    background-color: var(--btn-bg-primary);

    & .btn-icon {
        width: 14px;
        height: 14px;
        color: var(--fill-primary);

        @media (max-width: 768px) {
            width: 8px;
            height: 8px;
        }
    }

    &:focus {
        background-color: var(--btn-bg-primary-active);

        & .btn-icon {
            color: var(--fill-tertiary-active);
        }
    }
    &:active {
        background-color: var(--btn-bg-primary-active);

        & .btn-icon {
            color: var(--fill-tertiary-active);
        }
    }

    @media (hover: hover) {
        &:hover {
            background-color: var(--btn-bg-primary-hover);

            & .btn-icon {
                color: var(--fill-tertiary-hover);
            }
        }
    }
}

