.auth-bar-known-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0s linear;
	position: absolute;
	top: 100%;
	max-width: 150px;
	z-index: 150;
}

.auth-bar-known-list.active {
	visibility: visible;
	opacity: 1;
	transition: opacity 0.3s linear;
}

.auth-bar-known-list__btn {
	width: 100%;
	max-width: 100%;
	padding: 12px 24px;
	background-color: var(--first-btn-bg-color);
	transition: background-color 0.3s linear, color 0.3s linear;
}

.auth-bar-known-list__btn:hover {
	background-color: var(--first-btn-bg-color-hover);
}

.auth-bar-known-list__btn .btn-text {
	color: var(--first-text-color);
}

.auth-bar-known-list__btn:hover .btn-text {
	color: var(--third-text-color);
}
