.text-area {
	position: relative;
	width: 100%;
	font-size: inherit;
	color: var(--color-text-main);
	border: none;
	background-color: var(--color-outer-space-light);
	padding: 20px 10px;
	overflow: hidden;
	text-decoration: none;

	@media (min-width: 768px) {
		padding: 10px;
	}
}
