.post-list-item-body-title {
    font-size: 28px;
}

.post-list-item-body-title:focus {
    outline: none;
}

.post-list-item-body-title__text {
    font-size: 28px;
}

.post-list-item-body-title:hover .post-list-item-body-title__text,
.post-list-item-body-title:active .post-list-item-body-title__text,
.post-list-item-body-title:focus .post-list-item-body-title__text {
    color: var(--title-primary-hover);
}
