.post-themes {
    // display: flex;
    // flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, max-content));
    justify-items: start;
    justify-content: start;
    grid-auto-columns: auto;
    grid-auto-flow: dense;
    gap: 5px;
}

.post-themes__item {
    max-width: max-content;
    font-size: 16px;
    color: var(--color-text-main);
    padding: 4px 10px;
    border-radius: 5px;
    background-color: var(--color-outer-space-light);
    // margin-bottom: 10px;
}

// .post-themes__item:not(:last-child) {
//     