@mixin transition-default($property, $duration, $delay, $timing-function) {
	transition-property: $property;
	transition-duration: $duration;
	transition-delay: $delay;
	transition-timing-function: $timing-function;
}

@mixin transition-active($property, $duration, $delay, $timing-function) {
	transition-property: $property;
	transition-duration: $duration;
	transition-delay: $delay;
	transition-timing-function: $timing-function;
}

:root {
	--font12312Main12312312: 'Source Sans Pro', sans-serif;
}