:root {
	// Fonts //
	--fontMain: 'Source Sans Pro', sans-serif;

	// component color  //
	--first-component-bg-color: #262d34;
	--second-component-bg-color: #2c353d;
	--first-body-bg-color: #1e252b;
	--first-modal-bg-color: #1e252bcc;
	--first-outline-color: #ff4400;

	// title color  //
	--first-title-color: #f7f7f7;
	--second-title-color: #ff571a;
	--third-title-color: #1e252b;
	--fourth-title-color: #ff4400;

	// text color   //
	--first-text-color: #f7f7f7;
	--second-text-color: #ff571a;
	--third-text-color: #1e252b;
	--fourth-text-color: #ff4400;

	// background сolor button //
	--first-btn-bg-color: #ff571a;
	--first-btn-bg-color-hover: #ff4400;
	--first-btn-bg-color-inactive: #da6d46;

	// fill svg //
	--first-fill-color: #f7f7f7;
	--second-fill-color: #ff571a;
	--third-fill-color: #1e252b;
	--fourth-fill-color: #ff4400;

	// border color  //
	--first-border-color: #f7f7f7;
	--second-border-color: #ff571a;
	--third-border-color: #1e252b;
	--fourth-border-color: #ff4400;
}
