:root {
    // Fonts //
    --fontMain: 'Source Sans Pro', sans-serif;

    // component color  //
    --body-bg-primary: #1e252b;
    --component-bg-primary: #262d34;
    --component-bg-secondary: #2c353d;
    --modal-overlay-primary: #1e252bcc;

    // title color  //
    --title-primary: #f7f7f7;
    --title-secondary: #ff571a;
    --title-tertiary: #1e252b;
    --title-primary-hover: #ff4400;
    --title-secondary-hover: #f7f7f7;
    --title-tertiary-hover: #1e252b;
    --title-primary-active: #ff4400;
    --title-secondary-active: #f7f7f7;
    --title-tertiary-active: #1e252b;

    // text color   //
    --text-primary: #f7f7f7;
    --text-secondary: #ff571a;
    --text-tertiary: #1e252b;
    --text-primary-hover: #ff4400;
    --text-secondary-hover: #f7f7f7;
    --text-tertiary-hover: #1e252b;
    --text-primary-active: #ff4400;
    --text-secondary-active: #f7f7f7;
    --text-tertiary-active: #1e252b;

    // background сolor button //
    --btn-bg-primary: #ff571a;
    --btn-bg-primary-hover: #ff4400;
    --btn-bg-primary-active: #ff4400;
    --btn-bg-primary-inactive: #da6d46;

    // fill svg //
    --fill-primary: #f7f7f7;
    --fill-secondary: #ff571a;
    --fill-tertiary: #1e252b;
    --fill-primary-hover: #ff4400;
    --fill-secondary-hover: #f7f7f7;
    --fill-tertiary-hover: #1e252b;
    --fill-primary-active: #ff4400;
    --fill-secondary-active: #f7f7f7;
    --fill-tertiary-active: #1e252b;

    // border color  //
    --border-primary: #f7f7f7;
    --border-secondary: #ff571a;
    --border-tertiary: #1e252b;
    --border-primary-hover: #ff4400;
    --border-secondary-hover: #f7f7f7;
    --border-tertiary-hover: #1e252b;
    --border-primary-active: #ff4400;
    --border-secondary-active: #f7f7f7;
    --border-tertiary-active: #1e252b;

    // outline //
    --outline-primary: #f7f7f7;
    --outline-secondary: #ff571a;
    --outline-tertiary: #1e252b;
}
