:root {
	// Fonts //
	--fontMain: 'Source Sans Pro', sans-serif;

	// Color components  //
	--first-color-bg-components: #262d34;
	--second-color-bg-components: #2c353d;
	--first-color-bg-body: #1e252b;
	--color-bg-modal: #2c353d33;
	--color-outline: #ff4400;

	// Color title  //
	--first-color-title: #ff571a;
	--second-color-title: #f7f7f7;
	
	// Color text  //
	--first-color-text: #f7f7f7;
	--second-color-text: #1e252b;
	--third-color-text: #ff571a;
	--first-color-text-hover: #ff571a;

	// Color button //
	--first-color-text-btn: #f7f7f7;
	--second-color-text-btn: #1e252b;
	--third-color-text-btn: #ff571a;
	--first-color-bg-btn: #ff571a;
	--first-color-bg-btn-hover: #ff4400;
	--color-btn-bg-inactive: #da6d46;
	--first-color-br-btn: #ff571a;







////////////////////////////////////////////////////////
	--color-shark: #1e252b;
	--color-outer-space-main: #262d34;
	--color-outer-space-main-07: rgba(30, 37, 43, 0.6);
	--color-outer-space-light: #2c353d;
	--color-outer-space-light-02: rgba(44, 53, 61, 0.2);
	--color-alabaster: #f7f7f7;
	--color-orange: #ff571a;

	// --color-btn-bg-main: #ff571a;
	// --color-btn-bg-hover: #ff4400;
	// --color-btn-bg-active: #ff4400;
	// --color-btn-bg-shark: #1e252b;
	// --color-btn-bg-inactive: #da6d46;

	// Color input/text-area //
	// --color-outline-main: #ff571a;
	// --color-caret-main: #ff571a;
}

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	list-style: none;
	box-sizing: border-box;
}

*:focus {
	outline: 1px solid var(--color-outline);
}

body {
	font-family: var(--fontMain);
	font-weight: 400;
	font-size: 18px;
	color: var(--first-color-text);
	background-color: var(--first-color-bg-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 22px;
	color: var(--color-title-main);
}

a {
	text-decoration-line: none;
}

input {
	border: none;
}

textarea {
	resize: none;
}
