.editor-new-post {
	background-color: var(--first-color-bg-components);
	padding: 0 0 60px 0;
}
.editor-new-post__title {
	width: 100%;
}
.editor-new-post__text {
	width: 100%;
}
.editor-new-post__image {
	width: 100%;
}
