.filter-list-search {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.filter-list-search__item {
    margin-top: 10px;
}
.filter-list-search__item:not(:last-child) {
    margin-right: 10px;
}
.filter-list-search__btn-delete {
}
