.nav {
    background-color: var(--component-bg-primary);
}

.nav__container {
    padding: 0 10px;
}

.nav__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 10px 0;
}

.nav__link-btn {
    padding: 4px;
    border: 2px solid var(--border-secondary);
    border-radius: 10px;
    background-color: transparent;
    transition: background-color 0.1s linear, border 0.1s linear;
    margin-left: auto;

    & .btn-icon {
        width: 18px;
        height: 18px;
        color: var(--fill-secondary);
    }

    &:focus {
        outline: none;
        border: 2px solid var(--border-tertiary-hover);
        background-color: var(--text-primary-hover);

        & .btn-text {
            color: var(--text-tertiary-active);
        }

        & .btn-icon {
            color: var(--text-tertiary-active);
        }
    }

    &:active {
        border: 2px solid var(--border-tertiary-hover);
        background-color: var(--text-primary-hover);

        & .btn-text {
            color: var(--text-tertiary-active);
        }

        & .btn-icon {
            color: var(--text-tertiary-active);
        }
    }

    @media (hover: hover) {
        &:hover {
            border: 2px solid var(--border-tertiary-hover);
            background-color: var(--text-primary-hover);

            & .btn-text {
                color: var(--text-tertiary-hover);
            }

            & .btn-icon {
                color: var(--text-tertiary-hover);
            }
        }
    }
}

