.auth-sign-up {
}

.auth-sign-up__form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 30px;
    background-color: var(--component-bg-primary);
    z-index: 31;
}

.auth-sign-up__btn-close {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    padding: 5px;
    background-color: var(--btn-bg-primary);
    overflow: hidden;
    position: absolute;
    transition: background-color 0.2s linear;
    top: 1.5%;
    right: 1.5%;
}

.auth-sign-up__btn-close:hover {
    background-color: var(--btn-bg-primary-hover);
    transition: background-color 0.2s linear;
}

.auth-sign-up__btn-close .btn-icon {
    width: 15px;
    height: 15px;
    fill: var(--fill-tertiary);
    transition: fill 0.2s linear;
}

.auth-sign-up__btn-close:hover btn-icon {
    fill: var(--fill-primary);
    transition: fill 0.2s linear;
}

.auth-sign-up__title {
    font-size: 26px;
    margin-bottom: 20px;

    @media (max-width: 768px) {
        font-size: 22px;
    }
}

.auth-sign-up__body {
    margin-bottom: 40px;
}

.auth-sign-up__input-content {
    position: relative;
    display: flex;
    flex-direction: column;
}

.auth-sign-up__input-content:not(:last-of-type) {
    margin-bottom: 10px;
}

.auth-sign-up__label {
    font-size: 16px;
    margin-bottom: 5px;

    @media (max-width: 768px) {
        font-size: 20px;
    }
}

.auth-sign-up__input {
    width: 250px;
    font-size: 16px;
    padding: 10px;
    color: var(--text-primary);
    background-color: var(--component-bg-secondary);

    @media (max-width: 768px) {
        width: 250px;
        font-size: 20px;
    }
}

.auth-sign-up__input:-webkit-autofill {
    background-color: var(--component-bg-secondary) !important;
    color: var(--text-primary) !important;
    -webkit-box-shadow: 0 0 0px 1000px var(--component-bg-secondary) inset !important;
    -webkit-text-fill-color: var(--text-primary) !important;
}

.auth-sign-up__input.error {
    outline: 1px solid var(--outline-primary);
}

.auth-sign-up__input-alert {
    font-size: 12px;
    color: var(--text-secondary);
}

.auth-sign-up__btn-auth {
    width: 100%;
    color: var(--text-primary);
    padding: 6px 12px;
    border-radius: 10px;
    background-color: var(--btn-bg-primary);
    transition: background-color 0.1s linear;
}

.auth-sign-up__btn-auth.inactive {
    pointer-events: none;
    background-color: var(--btn-bg-primary-inactive);
}

.auth-sign-up__btn-auth:hover {
    background-color: var(--btn-bg-primary-hover);
}

.auth-sign-up__btn-auth:not(:last-of-type) {
    margin-bottom: 20px;
}

.auth-sign-up__btn-text {
}
